{% extends "home/base.html" %}
{% block title %} Blog {% endblock %}
{% block content %}
{% load static %}
<body id="/">

    <section class="extd-blog" id="extd-blog">
        <h1>{{post.title}}</h1>
        <div class="details">
            <img src="{{post.author.image.url}}" alt="{{post.author.name}}">
            <h3> {{post.author.name}} <br>{{post.publish_date}}</h3>
        </div>
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
        <div class="peragraph">
            {{post.content | safe}}
        </div>
    </section>

</body>
{% endblock %}